<div class="row">
    <div class="col-sm-6 col-md-4 col-md-offset-4 col-sm-offset-3">
        <div id="success" class="alert alert-success" {{#if noMessage}}hidden{{/if}}>
            {{ successMsg }}
        </div>
    </div>
</div>
<!--filters-->
<div class="row">
    <div class="col-sm-12">
        <ul class="nav navbar-nav navbar-right">

            <!--Colors Filter Dropdown-->
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Colors <span class="caret"></span></a>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    {{# each colorsToFilter}}
                        <li>
                            <div class="center-block">
                                <p class="text-center">
                                    <input type="checkbox" name="color" class="img-rounded filter-color" id="filter-color-{{this}}" value="{{this}}">
                                    <label for="filter-color-{{this}}" class="filter-value">
                                        <span class="filter-color" style="background: {{this}}"></span>
                                    </label>
                                </p>
                            </div>
                        </li>
                        <li role="separator" class="divider"></li>
                    {{/each}}
                </ul>
            </li>

            <!--Pattern Filter Dropdown-->
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Patterns <span class="caret"></span></a>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    {{# each materialsToFilter}}
                        <li>
                            <div class="center-block">
                                <p class="text-center">
                                    <input type="checkbox" class="img-rounded filter-material" id="filter-material-{{this.[0]}}" value="{{this.[0]}}">
                                    <label for="filter-material-{{this.[1]}}" class="filter-value">
                                        <img src="{{this.[1]}}" alt="..." class="filter-material img-rounded"/>
                                    </label>
                                </p>
                            </div>
                        </li>
                        <li role="separator" class="divider"></li>
                    {{/each}}
                </ul>
            </li>

            <!--Price Filter Dropdown-->
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Price <span class="caret"></span></a>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li>
                        <div class="center-block">
                            <p class="text-center">
                                <i class="fa fa-arrow-down" aria-hidden="true"></i> Low to High
                            </p>
                        </div>
                    </li>
                    <li role="separator" class="divider"></li>
                    <li>
                        <div class="center-block">
                            <p class="text-center">
                                <i class="fa fa-arrow-up" aria-hidden="true"></i> High to Low
                            </p>
                        </div>
                    </li>
                    <li role="separator" class="divider"></li>
                </ul>
            </li>
        </ul>
    </div>
</div>

<!--loop through the items in the products-->
<div class="row">
    <ul class="products" id="products-list">
        {{# each products }}
            <li class="product" data-id="{{this.id}}" data-title="{{this.title}}" data-description="{{this.description}}"
                data-color="{{this.colors.[0]}}" data-material="{{this.materials.[0].name}}"  data-price="{{this.price}}"
                    data-category="{{this.colors.[0]}} {{this.materials.[0].name}}">
                <div class="well">
                    <a href="/product/{{this.id}}">
                        <div>
                            <div class="">
                                <img src="{{this.materials.[0].link}}" alt="..." class="img-circle product-material"/>
                                <img src="{{ this.imagePaths.[0] }}" alt="..." class="img-responsive">

                            </div>
                        </div>


                    </a>

                    <div class="caption">
                        <h3>{{ this.title }}</h3>

                        <p class="description">{{ this.description }}</p>

                        <div class="clearfix">
                            <div class="price pull-left">${{ this.price }}</div>
                            <a href="/add-to-cart/{{this.id}}" class="btn btn-default pull-right" role="button">
                                <i class="fa fa-cart-plus" aria-hidden="true"></i> Add to Cart</a>
                        </div>
                    </div>
                </div>
            </li>
        {{/each}}
    </ul>
</div>
<script type="text/javascript" src="javascripts/filters.js"></script>
