
<div class="row">
    <div class="col-md-6">
        <div class="row">
            <div class="col-xs-12">
                <img src="{{ product.imagePaths.[0] }}" alt="..." class="img-responsive product-image">
                <img src="{{product.materials.[0].link}}" alt="..." class="img-circle large-product-material"/>
            </div>
        </div>
        <div class="row">
            {{#each product.imagePaths}}
                <div class="col-xs-2">
                    <img src="{{this}}" alt="..."  class="img-responsive product-thumbnail"/>
                </div>
            {{/each}}
        </div>
    </div>

    <div class="col-md-5">
        <div class="row">
            <div class="col-xs-12">
                <h2>{{ product.title }}</h2>
                <p class="description">{{ product.description }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h2>${{ product.price }}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <a href="/add-to-cart/{{product.id}}" class="btn btn-default" role="button">
                    <i class="fa fa-cart-plus" aria-hidden="true"></i> Add to Cart</a>
            </div>
        </div>
    </div>
</div>
